@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #111827;
  overflow: hidden;
}

.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 45;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #ffacac;
  top: 25%;
  left: 79%;
  animation-duration: 54s;
  animation-delay: -30s;
  transform-origin: 11vw 5vh;
  box-shadow: -40vmin 0 5.822165004989643vmin currentColor;
}
.background span:nth-child(1) {
  color: #583c87;
  top: 4%;
  left: 22%;
  animation-duration: 19s;
  animation-delay: -46s;
  transform-origin: -20vw -17vh;
  box-shadow: 40vmin 0 5.067690633140641vmin currentColor;
}
.background span:nth-child(2) {
  color: #ffacac;
  top: 81%;
  left: 62%;
  animation-duration: 9s;
  animation-delay: -25s;
  transform-origin: -24vw -1vh;
  box-shadow: -40vmin 0 5.576161847353095vmin currentColor;
}
.background span:nth-child(3) {
  color: #e45a84;
  top: 64%;
  left: 52%;
  animation-duration: 11s;
  animation-delay: -48s;
  transform-origin: -23vw -24vh;
  box-shadow: 40vmin 0 5.873973230332483vmin currentColor;
}
.background span:nth-child(4) {
  color: #ffacac;
  top: 25%;
  left: 81%;
  animation-duration: 8s;
  animation-delay: -43s;
  transform-origin: 15vw -20vh;
  box-shadow: -40vmin 0 5.2335674636349445vmin currentColor;
}
.background span:nth-child(5) {
  color: #583c87;
  top: 69%;
  left: 80%;
  animation-duration: 32s;
  animation-delay: -20s;
  transform-origin: -12vw 12vh;
  box-shadow: -40vmin 0 5.884374664146472vmin currentColor;
}
.background span:nth-child(6) {
  color: #e45a84;
  top: 88%;
  left: 67%;
  animation-duration: 46s;
  animation-delay: -16s;
  transform-origin: -8vw -16vh;
  box-shadow: 40vmin 0 5.922245928844967vmin currentColor;
}
.background span:nth-child(7) {
  color: #ffacac;
  top: 35%;
  left: 86%;
  animation-duration: 24s;
  animation-delay: -48s;
  transform-origin: -4vw 17vh;
  box-shadow: -40vmin 0 5.806356840994935vmin currentColor;
}
.background span:nth-child(8) {
  color: #583c87;
  top: 93%;
  left: 19%;
  animation-duration: 29s;
  animation-delay: -48s;
  transform-origin: -19vw -12vh;
  box-shadow: 40vmin 0 5.462837973061433vmin currentColor;
}
.background span:nth-child(9) {
  color: #583c87;
  top: 74%;
  left: 66%;
  animation-duration: 27s;
  animation-delay: -38s;
  transform-origin: -8vw 20vh;
  box-shadow: -40vmin 0 5.881125131379029vmin currentColor;
}
.background span:nth-child(10) {
  color: #583c87;
  top: 13%;
  left: 66%;
  animation-duration: 25s;
  animation-delay: -29s;
  transform-origin: -7vw 16vh;
  box-shadow: -40vmin 0 5.447234022350141vmin currentColor;
}
.background span:nth-child(11) {
  color: #ffacac;
  top: 6%;
  left: 14%;
  animation-duration: 16s;
  animation-delay: -31s;
  transform-origin: 1vw -18vh;
  box-shadow: 40vmin 0 5.0793432835420775vmin currentColor;
}
.background span:nth-child(12) {
  color: #583c87;
  top: 75%;
  left: 74%;
  animation-duration: 21s;
  animation-delay: -39s;
  transform-origin: -17vw 24vh;
  box-shadow: 40vmin 0 5.364841408600224vmin currentColor;
}
.background span:nth-child(13) {
  color: #583c87;
  top: 15%;
  left: 75%;
  animation-duration: 49s;
  animation-delay: -25s;
  transform-origin: 1vw 9vh;
  box-shadow: -40vmin 0 5.4891825125364715vmin currentColor;
}
.background span:nth-child(14) {
  color: #583c87;
  top: 90%;
  left: 74%;
  animation-duration: 40s;
  animation-delay: -31s;
  transform-origin: 2vw -7vh;
  box-shadow: 40vmin 0 5.461249071347671vmin currentColor;
}
.background span:nth-child(15) {
  color: #583c87;
  top: 8%;
  left: 66%;
  animation-duration: 10s;
  animation-delay: -30s;
  transform-origin: -17vw 0vh;
  box-shadow: -40vmin 0 5.769164632887721vmin currentColor;
}
.background span:nth-child(16) {
  color: #583c87;
  top: 21%;
  left: 40%;
  animation-duration: 35s;
  animation-delay: -30s;
  transform-origin: -23vw 6vh;
  box-shadow: -40vmin 0 5.928790983595924vmin currentColor;
}
.background span:nth-child(17) {
  color: #ffacac;
  top: 91%;
  left: 86%;
  animation-duration: 55s;
  animation-delay: -37s;
  transform-origin: 10vw 11vh;
  box-shadow: 40vmin 0 5.622764898419915vmin currentColor;
}
.background span:nth-child(18) {
  color: #e45a84;
  top: 35%;
  left: 84%;
  animation-duration: 44s;
  animation-delay: -33s;
  transform-origin: 14vw -4vh;
  box-shadow: 40vmin 0 5.471279721399377vmin currentColor;
}
.background span:nth-child(19) {
  color: #e45a84;
  top: 71%;
  left: 24%;
  animation-duration: 48s;
  animation-delay: -49s;
  transform-origin: -24vw -1vh;
  box-shadow: 40vmin 0 5.9993205679348645vmin currentColor;
}

.bg-navbar {
  background-color: rgba(17, 24, 39, 0.6);
}
